backgroundColor = black
boxShadowColor = rgba(0,0,0,.3)
boxShadow =  0px 1px 5px 1px boxShadowColor
fontColor = #666
forgetFontColor = #999

.register
    .wrapper
        width 100vw
        display: flex
        justify-content: center
        min-height: fit-content
        align-items: center
        min-height: 100vh

    .container
        box-shadow: boxShadow
        text-align: center
        padding:0px 30px
        .title
            font-size: 20px
            color: fontColor
            padding: 30px 0
        
        .smallBottom
            margin-bottom: 5px !important;
        
        .parallelInput
            width: 100%
            display: flex
            flex-flow: row nowrap
            justify-content: space-between

        .ant-form-item-control-input
            text-align: left         
        .plane
            color: forgetFontColor