@import "../../style.styl"
$title = #0b0b0b
$text = #c2c2c2
$formInputColor=#0182ff

.registerWrapper
    width: 100vw
    min-height:  100vh
    position relative
    overflow-x: hidden
    display: flex
    justify-content: center
    align-items: bottom 
    //左上角的标签样式
    .title
        font-weight: lighter
        position absolute
        font-size: 30px
        left 20vw
        top 8vh
        z-index: 1003
    .buttom-box
        width: 60vw
        margin-top:14vh
        height: fit-content
        background-color: white
        box-shadow: 0px 0px 30px 10px rgba(0,0,0,.1)
        display: flex
        flex-flow: row nowrap
        position relative
        .card
            margin-left: 10px
            width: 30vw
            flex 1
            display: flex
            justify-content: center 
            align-items: center
            border: 0 
            .swiper-container
                width: 30vw
                height: 30vw
                .swiper-wrapper
                    .swiper-slide
                       width: 30vw
                       height: 30vw
                       display flex
                       flex-flow: column nowrap
                       justify-content: flex-start
                       align-items: center
                       .swiper-title
                           font-weight: bold
                           font-size: 1.4em
                           display: flex
                           margin-top: 2em
                           margin-bottom: 1em
                           letter-spacing: 2px
                           color: $title
                        .swiper-text
                            letter-spacing: 2px
                            line-height: 16px
                            height: 16px
                            font-weight:1.3em
                            color: $text
                            font-size: 13px
                            width: 350px
                            text-align center
                        .swiper-picture
                            width: 20vw
                            height: 20vw
                            margin-top: 25px
        .form
                z-index: 1001
                width: 23vw
                right: 3vw
                top: 4vh
                background-color: white
                box-shadow: 0px 0px 30px 10px rgba(0,0,0,.1)
                display flex
                flex-flow: column nowrap
                padding: 35px
                .form-title
                    font-weight: 600
                    letter-spacing: 1px
                    color: $title
                    width: 100%
                    text-align: center
                    line-height: 15px
                    height: 15px
                    font-size: 16px
                    margin-bottom: 10px
                .form-input
                    width 100%
                    vertical-align:middle
                    line-height: 40px
                    height: 40px
                    margin-top: 20px
                    .form-ador
                        height: 24px
                        line-height: 24px
                        display: flex
                        padding: 5px
                        flex-flow: column nowrap
                        justify-content: center
                        align-items: center
                        border-right-width: 0.5px
                        // border-right-color:$formInputColor
                        border-right-style: solid
                    .captcha
                        cursor pointer
                        widows 3.2em
                        height 1.6em
                //忘记密码链接的样式
                .forget-link-line
                    width: 100%
                    text-align: right 
                    line-height: 20px
                    height: 20px
                    vertical-align: middle
                    .forget-link
                        color $text
                        color #8490a6
                        font-size: 10px
                        &:hover
                            color: $formInputColor
                            cursor pointer
                .policy-line
                    font-size: 12px
                    width: 100%
                    input 
                        color: $formInputColor
                    .MuiFormControlLabel-root
                        margin-right: 0px
                    .policy
                        font-size: 12px
                    .MuiCheckbox-colorSecondary.Mui-checked
                            color: $formInputColor
                    .policy-link
                        color: $formInputColor
                .policy-error
                    color: #f44336
                    font-size: 0.75rem;
                .hr-text
                    color: $text
                    font-size: 0.75rem
                .MuiFormGroup-root
                    display: flex
                    flex-flow: row nowrap
                    .MuiIconButton-label
                        width: 12px
                        height: 12px
                .login-button
                    width: 100%
                    padding 0px
                    vertical-align: middle               
                    height: 40px
                    background-color: $formInputColor
                    margin-top: 10px
                    box-shadow: 0px 0px 10px 1px $formInputColor
                    line-height: 40px
                    border-radius: 10px
                    color: #fefefd
                .register-link
                    color #8490a6
                    font-size: 10px
                    text-align: center
                    margin-top: 10px
                    margin-bottom: 10px
                    cursor pointer
                    &:hover
                       color: $formInputColor
                .phone
                    width: 100%
                .sex
                    line-height: 30px
                    height: 30px
                    font-size: 14px
                    color $title
                    margin-left: 15px
                    margin-top: 25px
                    .sex-icon
                        color: $title
                        margin-right: 30px
                        height: 30px
                        line-height: 30px
                        display: inline-flex
                        justify-content: center
                        align-items: center
                    &.identity
                        margin-top: 0
                .img
                    width: 100%
                    line-height: 60px
                    display: flex
                    flex-flow: row nowrap
                    align-items: flex-start 
                    .img-icon
                        display: flex
                        flex-flow: row wrap
                        align-items: center
                        height: 40px
                        line-height: 40px
                        margin-left: 15px
                    .avatarButton
                        color: $formInputColor
                    .upload
                        margin-left: 15px
                        margin-top: 10px
                hr
                    color: $formInputColor
                .third-login
                    vertical-align: middle
                    line-height: 30px
                    height: 30px
                    display: flex
                    flex-flow: row nowrap
                    justify-content: flex-start
                    align-items: center
                    .weibo-icon
                        margin-left: 10px
                        font-size: 30px
                        color #d32124
                        margin-right: 5px
                    .qq-icon
                        color #4a9afd
                        font-size: 25px
                        margin-right: 5px
                    .weixin-icon
                        color:#18c435
                        font-size: 25px
                    .weibo-text
                        font-size: 10px
                        margin-left: 5px
    //大圆
    .bigCircle
            transform: scale(2)
            position absolute
            right -100px
            top 0
    //小圆
    .smallCircle
            transform: scale(1.5)
            position absolute
            left -120px
            bottom -120px
            // z-index: 100
    
   

                    
    .MuiInput-underline
        &:before
           border-bottom: 1px solid rgba(0,0,0,.1)
        &:hover:not(.Mui-disabled):before
           border-bottom: 1px solid $formInputColor !important
        &:after
           border-bottom: 1px solid $formInputColor
    .alert-wrapper
        width: 300px
        height: 50px
        border: none
        border-radius:15px
        color: $text
        line-height: 50px
        vertical-align: middle
        text-align: center
        background-color: white
        box-shadow: 0px 0px 10px 1px $formInputColor
        &.success
            box-shadow: 0px 0px 1px 1px #4caf50
            color: #4caf50
        &.error
            box-shadow: 0px 0px 1px 1px #f44336
            color #f44336
    .MuiRadio-colorSecondary.Mui-checked
        color $formInputColor
    .expansionPanelDetials
        display: flex
        flex-flow: column nowrap
        justify-content: flex-start
        width: 100%
        padding 0
.MuiDialogActions-root
   .MuiButton-label
        color: $formInputColor
@media screen and (max-width :767px)
    .registerWrapper
        .title
            left 10vw
            top 2vh
        .buttom-box
            width: 80vw !important
            margin-top: 5vh
            .card
                display none !important
            .bigCircle
                transform: scale(1.5) !important
            .form
                width:80vw !important
                position absolute
                top:4vh !important
                left:1vw
                input::placeholder
                    font-size: 0.8em !important
            
@media screen and (min-width :768px) and (max-width: 1080px)
    .registerWrapper
        .title
            left 11vw
            top 3vh
        .buttom-box
            width: 80vw !important
            margin-top: 10vh
            .card
                width: 40vw !important
                .swiper-container
                    width: 40vw
                    height: 40vw
                    .swiper-wrapper
                        .swiper-slide
                            width:40vw !important
                            height: 40vw
                            .swiper-text
                                font-size: 0.4em
                            .swiper-title
                                font-size: 0.8em
            .form
                width: 40vw !important
                top: 2vh
                right 3vw
                padding: 1em
                .makeStyles-root-3
                    margin: 0
                    margin-top: 0.5em
                .captcha
                    width: 6em
                    height: 3em !important
                .login-button
                    width: 100%
                    height 3vh
                .policy-line
                    span
                        font-size:0.5em !important