{
    "presets": [
      "@babel/react","@babel/env",
    //   [
    //     "env",
    //     {
    //       "targets": {
    //         "browsers": ["last 2 versions"]
    //       },
    //       "debug": true,
    //       "modules": "commonjs"
    //     }
    //   ]
    ]
  }