{
    "presets": [
      "@babel/react","@babel/preset-env",
    //   [
    //     "@babel/env",
    //     {
    //       "targets": {
    //         "browsers": ["last 2 versions"]
    //       },
    //       "debug": true,
    //       "modules": "commonjs"
    //     }
    //   ]
    ],
    "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "helpers": false,
            "regenerator": true,
          }
        ]
    ]
}