{
    "presets": [
      "@babel/react","@babel/env","@babel/preset-env",
      [
        "env",
        {
          "targets": {
            "browsers": ["last 2 versions"]
          },
          "debug": true,
          "modules": "commonjs"
        }
      ]
    ]
}