.outerCircle
    width: 200px;
    height: 200px;
    border-radius: 50%;
    .innerCircle
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: relative;
        top: 25px;
        left: 25px;
