.processWrapper
    width: 100%
    .table
        margin-top: 20px
    
    .oprationbuttons
        margin-top: 10px
        width: 100%
        display: flex
        justify-content: space-between