$borderRadius = 10px//记录边框的圆角
$boxShadow = 0px 0px 30px 10px rgba(0,0,0,.1)
$formInputColor=#0182ff

@media screen and (max-width:768px)
   .renewWrapper 
       padding: 1.1rem 0rem !important
      .infoLine
         .infoCard
            display: none !important
      .ant-table-thead
         tr
           :nth-child(1)
                display: none
           :nth-child(4)
                display:none
           :nth-child(5)
                display: none
      .ant-table-tbody
          tr
           td:nth-child(1)
                display: none
           td:nth-child(4)
                display:none
           td:nth-child(5)
                display: none
      .remainDateInfo
          .ant-progress-outer
                display none

.renewWrapper
   margin-top 99px
   width: 100%
   padding: 1.1rem
   display: flex
   flex-flow: row nowrap
   justify-content: center
   .infoLine
         display: flex
         justify-items: center
         .infoCard
            box-shadow: $boxShadow
            border-radius: $borderRadius
            max-width: 200px
            width: 100%
            margin-right: 10px

   .renewbookWrapper
        max-width: 1100px
        width: 100%
        box-shadow: $boxShadow
        border-radius: $borderRadius
        background-color: white
        .tipsCard
            border-radius: $borderRadius $borderRadius 0px 0px
            max-width: 1000px
            width: 100%
            .important
                color red
        .table
            max-width: 1000px
            width 100%
            border-radius: 0px 0px $borderRadius $borderRadius
        .oprationbuttons
            padding: 10px
            width: 100%
            display: flex
            justify-content: space-between
            border-radius: 0px 0px $borderRadius $borderRadius
        .remainDateInfo
            display: flex
            justify-content: space-between
            .remainDateInfoText
              max-width: 100px
              min-width: 60px
              width: 100%  
        .successText
            color: white
            border-color: #FFB90F
            background-color: #FFb90f
.dialogBookName
    color $formInputColor

.dialogBookText
    padding: 0px 24px
