$borderRadius = 10px//记录边框的圆角
$boxShadow = 0px 0px 30px 10px rgba(0,0,0,.1)
$formInputColor=#0182ff
.readrfidWrapper
    max-width: 1000px
    width: 100%
    box-shadow: $boxShadow
    .tipsCard
       border-radius: $borderRadius $borderRadius 0px 0px
       box-shadow: $boxShadow
       .link
         color: $formInputColor
         cursor:pointer
       .strong
         font-weight: 600
    .list
      background-color: white
      border-radius: 0px 0px $borderRadius $borderRadius
      .footer
          width: 100%
          text-align: right 
      // .listItem
      //   height: 100px
    // .listItemLine1
    //    .greySmall
    //        font-size: 12px
    //        color: grey
    //        margin: 0px

    // .listItemLine2
    //    .greySmall
    //        margin: 10px
