.readrfidWrapper
    width: 100%
    .list
      margin-top: 20px

    // .listItemLine1
    //    .greySmall
    //        font-size: 12px
    //        color: grey
    //        margin: 0px

    // .listItemLine2
    //    .greySmall
    //        margin: 10px
