.w-search {
  padding-top 20px;
  height: 100%
}

.search-tab {
  width: 50%
}

.c-search {
  padding: 3%
  height 82%;
  background: white
}

.search-title {
  margin: 2% 0;
}

.tag-search-title {
  font-size: 15px !important;
  padding: 7px 13px !important
}

.search-list {
  display: flex;
  flex-wrap wrap;

}
