$formInputColor=#0182ff
$title = #0b0b0b
$text = #c2c2c2
.searchPage
    width: 100%
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: flex-start
    .searchBody
         padding-top 15px
         flex: 1
         bottom 0px
         background-color: white
         display: flex
         flex-flow: column nowrap
         justify-content: center
         align-items: flex-start

         .searchbar
             width: 100%
             padding: 0 30px
             height: 50px
             line-height: 50px
             display: flex
             align-items: center
             flex-flow: row nowrap
             justify-content: space-between
             .setting
                 height: 50px
                 line-height: 50px
                 width: 180px
                 display: flex
                 align-items: center
             //排序按钮组
             .sortButtonGroup
                .MuiButton-root
                    height: 50px
                    line-height: 50px
                    text-align: center
                    padding: 0px 6px
                    color $formInputColor
         //搜索结果
         .searchResult
            width: 100%
            padding 20px 40px
            display: flex
            flex-flow: row wrap
            justify-content: flex-start
            .searchLine
                width: 100%
                display: flex
                flex-flow: row nowrap
                position relative
                .bookname
                    overflow: hidden
                    text-overflow: ellipsis
                    white-space: nowrap
                .bookauthor
                    overflow: hidden
                    text-overflow: ellipsis
                    white-space: nowrap
                    color:rgba(0,0,0,.5)
                .bookpublisher
                    overflow: hidden
                    text-overflow: ellipsis
                    white-space: nowrap
                    color:rgba(0,0,0,.5)
                .searchSummary
                    width: 100%
                    background-color: white
                    height: 100%
                    position: absolute
                    top 0
                    left 0
                    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12)
                    display flex
                    flex-flow: row nowrap
                    justify-content: space-around
                    align-items: center
                    padding 20px
                    .closeButton
                         position: absolute
                         color: red
                         right 10px
                         top 10px
                         cursor pointer
                    .searchMainData
                        display: flex
                        flex-flow: column nowrap
                        justify-content: space-around
                        align-items: flex-start
                        height: 100%
                        box-sizing: border-box
                        .searchBookName
                            font-size: 20px
                            color:$title
                            margin-bottom: 20px
                        .searchBookItem
                            font-size: 14px
                            .searchBookBefore
                                color $text
                    .searchBookSummary
                        flex 1
                        height: 100%
                        box-sizing: border-box
                        display: flex
                        justify-content: center
                        align-items: center
                        line-height: 30px
                        color: rgba(0,0,0,.33)
                        margin-left: 10px
                    .searchBookMore
                        display: flex
                        width: 200px
                        height: 100%
                        flex-flow: column nowrap
                        justify-content: space-around
                        align-items: center
                        .searchBookImg
                           width: 150px
                           height: 150px
            .loadMoreButtonLine
                width: 100%
                display: flex
                align-items: center
                justify-content: center
                .loadMoreButton
                    margin-top: 10px
                    .loadMoreIcon
                        font-size: 15px
           

    .searchClassify
        width: 320px
        box-sizing: border-box
        margin: 20px
        background-color: white
        min-height: 500px
        box-shadow: 0px 0px 30px 10px rgba(0,0,0,.1)
        display: flex
        flex-flow: column nowrap
        justify-content: flex-start
        align-items: center
        padding 30px
        .title
            width: 100%
            text-align: center 
            color: $formInputColor
            margin-bottom: 10px
        .select
            width: 100%
            display: flex
            flex-flow: row wrap
            align-items: center
            height: fit-content
            line-height: 40px
            justify-content: space-between
            .select-title
                flex 1
                text-align: left 
                // margin-top: 10px
            &.date
                margin-bottom: 10px
            .error
                font-size: 10px
                color: red
                position relative
                top -12px