.processWrapper
    width: 100%
    .table
        margin-top: 20px
    
    .oprationbuttons
        margin-top: 10px
        width: 100%
        display: flex
        justify-content: space-between
    .infoLine
        margin-top: 10px
        font-size: 14px
        height: 30px
        line-height: 30px